{% extends 'base.html' %}

{% block title %}{{ _('Enter new password') }}{% endblock %}

{% block content %}
    <h1>{{ _('Enter new password') }}</h1>
    {% if not valid_link %}
        {{ _('The password reset link was invalid. Please request a new password reset.') }}
    {% else %}
        <p>{{ _('Please enter your new password twice so we can verify you typed it in correctly.') }}</p>
        {% with submit_label=_('Set password') %}
            {% include "include/form.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}
