<form method="POST">
    {% for error in form.form_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    {% for field in form %}
        {{ field() }}
        {% if field.errors %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <input type="submit" value="{{ submit_label }}">
</form>
